@font-face {
  font-family: 'pitch';
  src: url('fonts/PitchWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/PitchWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/PitchWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/PitchWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}

html {
}

body {
  background-color: black;
  color: white;
  font-family: 'pitch';
  padding: 2vw;
  font-size: 13px;
}
a {
  color: white;
}
a:hover {
  background-color: white;
}
.m-bg {
  background-color: #1d1d1b;
}
header {
  padding-bottom: 2vw;
}
.cols {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  column-width: 40vw;
}
.column {
  width: 50%;
  float: left;
}
.m-padding {
  padding-bottom: 16px;
}
.m-mobile-show {
  display: none;
}
.m-mobile-hide {
  display: block;
}
@media only screen and (max-width: 1000px) {
  body {
    font-size: 16px;
  }
  .cols {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    column-width: 100vw;
  }
  header {
    padding-bottom: 3vw;
  }
  .m-mobile-show {
    display: block;
  }
  .m-mobile-hide {
    display: none;
  }
  .column {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  body {
    max-width: 400px;
  }
}
